
<div class="card bg-black border border-dark-light rounded-4 text-center text-light mx-auto mt-5" style="width: 400px;">
    <div class="row card-title mt-3">
        <h2>Login</h2>
    </div>

    <div class="alert alert-danger text-center" role="alert" *ngIf="login_error">
        A user with that email or password was not found!
    </div>

    <div class="card-body mx-auto" style="min-width: 60%;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-2 input-group-prepend">
                <label class="input-group-text bg-secondary text-light border-secondary" style="width: 30%;">Username</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Enter username">
            </div>

            <div class="input-group mb-2 input-group-prepend">
                <label class="input-group-text bg-secondary text-light border-secondary" style="width: 30%;">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
            </div>
            <button class="btn btn-success mt-2" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
</div>
