
<div class="row mt-5">

    <!-- left column -->
    <div class="col-md">
        <div class="card bg-black border border-dark-light rounded-4 text-center text-light mx-auto p-3"
            style="width: fit-content; min-width: 40%;">
            
            <div class="row card-title mt-3">
                <h2 class="card-title text-light p-2" *ngIf="weight != ''">Current weight: {{weight}}kg</h2>
                <h2 class="card-title text-light p-2" *ngIf="weight == ''">No weight entered!</h2>
            </div>

            <form [formGroup]="weightForm" (ngSubmit)="onClick()">
                <div class="input-group mb-2 mx-auto" style="max-width: 70%;">
                    <input type="number" formControlName="newWeight" class="btn btn-secondary form-control">
                    <button class="btn btn-success form-control" type="submit"
                        style="min-width: fit-content;" [disabled]="weightForm.invalid">Update Weight</button>
                </div>
            </form>
        </div>

        <div class="card bg-black border border-dark-light rounded-4 text-center text-light mx-auto p-1 mt-3"
            style="width: fit-content; min-width: 40%;">
            <div class="row card-title mt-3 p-2">
                <h2 *ngIf="dataservice.getHeight() === ''">Please add height for BMI</h2>
                <h2 *ngIf="dataservice.getHeight() !== ''">BMI: {{dataservice.getBMI().toFixed(2)}}</h2>
            </div>
        </div>
    </div>

    <!-- right column -->
    <div class="col-md">
        <div class="card bg-black border border-dark-light rounded-4 text-center text-light mx-auto p-1"
            style="width: fit-content; min-width: 40%;">
            <div class="card-title mt-3">
                <h2 class="card-title text-light p-2">Weight History</h2>
            </div>
            <div class="card-body">
                <table class="table table-dark">
                    <thead>
                        <tr class="text-center">
                            <th scope="col" style="width: 50%;">Day</th>
                            <th scope="col" style="width: 50%;">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let weights of weighthistory; index as i">
                            <td>{{weights.day | date: 'shortDate'}}</td>
                            <td>{{weights.weight}} kg</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-secondary" (click)="onDelete()">Clear Days</button>
            </div>
        </div>
    </div>
</div>