
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold">Calorie Tracker</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link text-light" routerLink="/calories">Calories</a></li>
      <li class="nav-item"><a class="nav-link text-light" routerLink="/weight">Weight</a></li>
      <li class="nav-item"><a class="nav-link text-light" routerLink="/profile">Profile</a></li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/login" *ngIf="!is_logged_in">Login</a>
        <a class="nav-link text-light" routerLink="/logout" *ngIf="is_logged_in">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>